#poke-container {
  border: 2px solid black;
  text-align: center;
  margin-top: 20px;
}

.card-title {
  margin-bottom: 10px;
}

#flex-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-input {
  margin-top: 20px;
  width: 30%;
  border: 3px solid black;
}

#poke-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.poke-item {
  margin-right: 20px;
  text-align: center;
  margin-top: 10px;
}

#search-input {
  width: 15rem;
}
